#Maven
log/
target/

#Eclipse
bin/
tmp/
.settings/
.classpath
.project

#Java
*.class
*.jar
*.war
*.ear

#Other
*.log
*.swp
*.bak

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Object files
*.o
*.ko
*.obj
*.elf
